#bar
  .top
    = link_to "/" do
      %i.icon-arrow-left
      Back
  .middle
    = link_to "/" do
      %i.icon-eye-open
      Preview
  .bottom
    - if @post.draft
      = link_to "/" do
        %i.icon-edit
        Publish
    - else
      = link_to "/" do
        %i.icon-edit
        Unpublish

= render :partial => "form"
