%span.post_edit_values{:'data-get_url' => post_url(@post), :'data-put_url' => update_post_url(@post), :'data-raw_body' => @post.raw_body.html_safe }

#bar
  .top
    = link_to "#" do
      %i.icon-hdd
      Save
  .middle
    = link_to post_url(@post) do
      %i.icon-eye-open
      Preview
  .bottom
    - if @post.draft
      = link_to "#" do
        %i.icon-edit
        Publish
    - else
      = link_to "#" do
        %i.icon-edit
        Unpublish

= render :partial => "form"
